.world-table .world-tr .world-td {
	border-collapse: collapse;
	margin: 0;
}

.world-table {
	height: 100%;
	width: 100%;
}

.world-td{
	border: 1px solid black;
}

#world-movieball {
	text-align: right;
	margin: 0;
}