{% extends "MovieMon/base.html" %}

{% block content %}
<h1 class='title-option'>OPTIPONS</h1>
<h2 class='title-option'>A : Save</h2>
<h2 class='title-option'>B : Quit</h2>
<h2 class='title-option'>Start : Cancel</h2>
{% endblock %}



{% block control %}
<div class="direction">
	<input type="submit" value="Top" name="button_top" disabled>
	<div class="direction-side">
		<input type="submit" value="Left" name="button_left" disabled>
		<input type="submit" value="Right" name="button_right" disabled>
	</div>
	<input type="submit" value="Bottom" name="button_bottom" disabled>
</div>
<div class="option">
	<input type="submit" value="Select" name="button_select" disabled>
	<input type="submit" value="Start" name="button_start">
</div>
<div class="action">
	<input type="submit" value="B" name="button_b">
	<input type="submit" value="A" name="button_a">
</div>
{% endblock %}