{% extends "MovieMon/base.html" %}

{% block content %}
	<h1 class='title-save'>SAVE</h1>

	{% if selected == 0 %}
	<h2 class='title-save' id='save-highlite'>{{slotA}}</h2>
	{% else %}
	<h2 class='title-save'>{{slotA}}</h2>
	{% endif %}

	{% if selected == 1 %}
	<h2 class='title-save' id='save-highlite'>{{slotB}}</h2>
	{% else %}
	<h2 class='title-save'>{{slotB}}</h2>
	{% endif %}

	{% if selected == 2 %}
	<h2 class='title-save' id='save-highlite'>{{slotC}}</h2>
	{% else %}
	<h2 class='title-save'>{{slotC}}</h2>
	{% endif %}

	<h2 class='title-save'>A : Save, B : Cancel</h2>
{% endblock %}


{% block message %}
	{% if message == 'game_is_saved' %}
	<p>
		Game is Saved!!<br>
	</p>
	{% endif %}
{% endblock %}



{% block control %}
<div class="direction">
	<input type="submit" value="Top" name="button_top">
	<div class="direction-side">
		<input type="submit" value="Left" name="button_left" disabled>
		<input type="submit" value="Right" name="button_right" disabled>
	</div>
	<input type="submit" value="Bottom" name="button_bottom">
</div>
<div class="option">
	<input type="submit" value="Select" name="button_select" disabled>
	<input type="submit" value="Start" name="button_start" disabled>
</div>
<div class="action">
	<input type="submit" value="B" name="button_b">
	<input type="submit" value="A" name="button_a">
</div>
{% endblock %}